<h1>Notifications</h1>
<ul>
    <% @notifications.each do |notification| %>
    <li>
        <%= link_to notification.task, notification %>
    </li>
    <% end %>
</ul>

<%= link_to "New Notification", new_notification_path %>
